<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Práctica 2</title>
	<script src="libreria/angular.min.js"></script>
	<script src="controlador.js"></script>
</head>
<body>
	<div ng-app="primero">
		<div ng-controller="nombrar">
			{{nombres}} {{apellidos}}<br>
			{{lista[0]}}<br>
			{{lista[1]}}<br>
			{{lista[2]}}<br>
			{{diccionario}}<br>
			{{diccionario[0].dia}}
			{{diccionario[0].ingles}}<br>
			{{diccionario[1]}}



		<li ng-repeat="fila in diccionario">
			{{fila.dia}} {{fila.ingles}}
		</li><br>

		<li ng-repeat="materia in materias">
			{{materia.m}}
		</li>
		</div>
	</div>

</body>
</html> 