<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Practica 5</title>
	<link rel="stylesheet" href="libreria/docs/components/bootstrap/css/bootstrap.min.css">
	<script src="libreria/angular.min.js"></script>
	<script src="js/practica5.js"></script>
</head>
<body>
	<div class="container"><div class="well well-success"><center><h3>Universidad Nacional de Loja</h3></center><br></div></div>
	<div ng-app="alumnos">
		<div ng-controller="controlador">
		<a href=" " ng-click="activar()" ng-hide="visualizar">Agregar</a>
			<form ng-submit="agregarAlumno()" name='form' ng-show="visualizar" >
				
				<label>Ingresar una Nueva persona</label><br><br>
				<input type="text" name="nombre" placeholder="Ingresar el Nombre" ng-model="nombres" required>
				<input type="text" name="telefono" placeholder="Ingresar el Telefono" ng-model="telefono" required> 
				<select ng-model="materia">
					<option>Programacion Avanzada</option>
					<option>Contabilidad</option>
					<option>Arquitectura de Computadores</option>
					<option>Ética</option>
				</select> 
				<input type="submit" value="Ingresar" ng-disabled="form.$invalid">

			<br>
			<br>
			</form>
			<label>Buscar: </label> <input type="text" name="" ng-model='busqueda' placeholder="Busca">
			<table class="table table-striped">
				<tr>
					<td><a href="" ng-click="ordenar('nombres')"> Nombres</a></td>
					<td><a href="" ng-click="ordenar('telefono')"> Telefono</a></td>
					<td><a href="" ng-click="ordenar('materia')"> Materia</a></td>
					<td>opciones</td>
				</tr>
				<tr ng-repeat="alumno in listaAlumnos | orderBy:ordenado | filter:busqueda">
					<td>{{alumno.nombres }}</td><!--uppercase-->
					<td>{{alumno.telefono}}</td>
					<td>{{alumno.materia }}</td><!--lowercase-->
					
				</tr>
			</table>
		</div>
	</div>
</body>
</html>